<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Some Website</title>
</head>

<body>
 {{> header}}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam aliquid blanditiis assumenda dolor at modi nam consequatur quasi inventore!</p>
{{> footer}}
</body>

</html>